/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font, sans-serif);
  font-variation-settings: 'wght' var(--font-weight);
  background-color: var(--background-color, white);
  background-image: var(--gradient);
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color, black);
  font-size: var(--text-size, 18px);
  font-style: normal;
  padding-top: 10vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 14px;
  padding-inline-end: 14px;
  padding-block-start: 130px;
  margin-block-end: 100px;
  margin: 0 auto;
}

.header__title {
  font-family: var(--font__accent, sans-serif);
  font-size: var(--title-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header__subtitle {
  white-space: nowrap;
  font-family: var(--font__accent, sans-serif);
  font-size: var(--subtitle-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 130px;
}

.main__content {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  row-gap: 40px;
  margin-block-end: 105px;
  width: var(--containerw);
  margin-top: 95px;
}

.card__heading {
  font-size: var(--font-size, );
  font-variation-settings: 'wght' var(--head-font-weight);
  line-height: normal;
  padding: 5px 10px;
}

.card__image-box {
  position: relative;
  display: flex;
  justify-content: center;
  aspect-ratio: 1/1;
  margin-block-end: 3px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.card-box {
  padding:25px;
}

.card-box__text {
  margin-block-end: 27px;
  line-height: 1.17;
}

.card__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
}

.card__icon-button {
  border: 2px solid transparent;
  background: transparent;
  width: 50px;
  height: 50px;
  display: flex;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-color, black);
}

.like-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__like-button {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 45px;
  font-size: 20px;
  padding: 10px;
  transition: 0.3s ease;
}

.card__like-button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--border-color, black);
  transition: 0.5s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}

.card__like-button:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--border-color, black);
  transition: 0.5s ease-in-out;
  transform: scale(1);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px var(--border-color, black);
}

.card__like-button-text, .main__save-button {
  width: 130px;
  height: 38px;
  line-height: 0.9;
  font-family: var(--font__accent, sans-serif);
  font-size: 14px;
  font-weight: 400;
}


.button__text {
  color: var(--color-span-button, white);
  mix-blend-mode: difference;
  font-family: var(--font__accent, sans-serif);
}

.main__save-button {
  display: flex;
  gap: 8px;
  position: relative;
  width: 337px;
  min-height: 53px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
}

.main__save-button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--border-color, black);
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);
}

.main__save-button:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--border-color, black);
  transform: translateX(0%);
}

.main__save-button:focus {
  outline: none;
}

.main__save-button:focus-visible {
  box-shadow: 2px 2px var(--border-color, black);
  transition: ease 0.3s;
}

.border {
  background-color: var(--background-color, white);
  border: 2px solid var(--border-color, black);
}

.lable {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent, sans-serif);
  font-size: var(--text-menu-size, 14px);
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 1px var(--stroke-color),
    -1px -1px var(--stroke-color),
    -1px 1px var(--stroke-color),
    1px -1px var(--stroke-color);
}

.button {
  justify-content: center;
  align-items: center;
}
 
.card__image__sep {
  filter: sepia(0.6) saturate(60%) brightness(80%);
}

.card__image__sat {
  filter: saturate(300%);
}

.card__image__hue {
  filter: hue-rotate(0.1turn);
}

.card__image__inv {
  filter: invert(80%);
}

.card__image__cont {
  filter: sepia(0.6) contrast(60%);
}

.card__image__blur {
  filter: blur(15px);
}

.card__image__bri {
  filter: invert(80%) hue-rotate(0.7turn) brightness(60%);
}

.button__svg {
  width: 21px;
  height: 21px;
  color: var(--color-span-button, white);
  mix-blend-mode: difference;
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: fixed;
  inset: 0;
  justify-content: center;
  padding: 30px;
  color: var(--text-color, black);
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.box {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--font__accent, sans-serif);
  font-size: var(--text-menu-size, 14px);
  line-height: 1.5;
  text-transform: uppercase;
  max-width: 700px;
  margin: 0 auto;
}

.box p {
  max-width: 234px;
}

.dialog__svg {
  width: 39px;
  height: 39px;
}

.dialog__form {
  display: flex;
}

.dialog__button {
  flex-grow: 1;
  text-transform: uppercase;
  padding: 10px;
  position: relative;
}

.dialog__button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--border-color, black);
  transition: 0.5s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}

.dialog__button:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--border-color, black);
  transition: 0.5s ease-in-out;
  transform: scale(1);
}

.dialog__button:focus {
  outline: none;
}

.dialog__button:focus-visible {
  box-shadow: 2px 2px var(--border-color, black);
  transition: ease 0.3s;
}

@media (width < 450px) {

  .header {
    padding-block-start: 120px;
  }

  .main__save-button {
    width: 308px;
    min-height: 84px;
    flex-direction: column;
  }

  .button__svg {
    width: 27px;
    height: 27px;
  }

  .box p {
    max-width: 198px;
  }
}

@supports ((-webkit-text-stroke: 1px var(--stroke-color)) or (text-stroke: 1px var(--stroke-color))) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}